
@{
    ViewBag.Title = "Verificar";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<br/>
<br />
<br />
<br />
<br />
<center>
    <h1>Datos Erroneos!!!!</h1>
    <h3>vuelva iniciar seccion.....</h3>
</center>


